# Ignore specific project folders
maker/
algo/
butterknife/

# Ignore your lab virtual environments
**/venv/

# macOS system files
.DS_Store

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Other common files to ignore
*.swp
*.log

